<!--The content below is only a placeholder and can be replaced.-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
</head>
<body>
  

<div style="text-align:center">
  <h1>
    PPM - Project Product Management
  </h1>


      <button type="buttpn" [routerLink]="['']" class="btn btn-info">Home</button>

      <button type="buttpn" [routerLink]="['product']" class="btn btn-info">Product List</button>

      <button type="buttpn" [routerLink]="['add']" class="btn btn-info">Add a Product</button>

<router-outlet></router-outlet>
  </div>

 

</body>
</html>