<html>
    <head>
       <title>Dojo Survey Index</title>
    </head>
    <body>
      <h3>Test Survey</h3>
      <!-- read on to learn about form actions, we'll talk about the method in a later section -->
      <form action='/users' method='post'>
        Your Name: <input type='text' name='name'>
          
        Age:<input type='text' name='age'>
          <input type='submit' value='Submit'>
      </form>
    </body>
</html>