<html>
<body>
 <h1>Counter</h1>
   <p>This page has been refreshed <%= count %> times.</p>
   <form action ="/increase" method="post">
    <button> Hit me with 2 more!</button>
   </form>
  <form action="/reset" method="post">
    <button> Start over!</button>
</form>
   
</body>
</html>