<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <h1>Add a product</h1>


  <form (submit)="addProduct()">

    <label>Product Title:
      <input type="text"
      name="title"
      [(ngModel)]="newProduct.title"
      #product = "ngModel"
      /> </label>

    <label>Price:
      <input type="number"
      name="price"
      [(ngModel)]="newProduct.price"
      #productprice = "ngModel"
      /> </label>

    <button type="submit" class="btn btn-info">Add Product</button>
  </form>


</body>

</html>