<div id="Body"> 
  <div style="text-align:center">

    <h1>Restful Tasks Continued:</h1>
    <h1>TASKS!</h1>

  </div>
  <h2>Here are some tasks to get your day started: </h2>
    <!-- <button (click)="onButtonClick()">CLICK HERE FOR TASKS!</button>
    <div *ngIf="thing == true"> -->
      <!-- <h3 *ngFor="let task of tasks"> {{task.title}} - {{task.description}} </h3> -->
    
      <!-- <h3> THIS IS A RANDOM ASS NUMBER: {{randNum}}</h3>
      <h3> {{str}}</h3> --> 
      <!-- <input type="text" [value]='first_name'/> -->
      
     <h3 *ngFor="let task of tasks">Tasks: {{task.title}}</h3> 
      <!-- <h3 *ngIf="loggedIn">YOU'RE LOGGED IN!!!</h3> -->
      <!-- <h3 *ngIf="songs.length < 5"> Name more songs</h3> --> 


</div>
